<div ng-hide="main.user" class="row container-fluid">
    <div class="lp-container">
      <h2 class="lp-intro well well-lg text-centered">Welcome to the PC Builder App</h2>
    </div>
</div>



<div ng-show="main.user" class="container">
  <div class="row">
    <h3>Welcome back {{main.user.username}}</h3>
  </div>

  <hr>
  <h3>Your machines</h3>
  <div class="row">
    <div class="col-xs-6 col-sm-4" ng-repeat="rig in main.user.rigs">
      <p>{{rig.description}}</p>
      <br>
      <a ui-sref="rigsShow({id: rig.id})">View</a>
      <a ui-sref="rigsEdit({id: rig.id})">Edit</a>
    </div>
  </div>
</div>
