<div ng-hide="main.user" class="row container-fluid">
    <div style="background: url(http://img.gawkerassets.com/img/17zglcf8ljoa8jpg/original.jpg) no-repeat center center;height:92vh;width:100vw;opacity:0.5;position:absolute;margin:0 auto;">
      <h2 class="well well-lg text-centered" style="width:inherit;z-index: 20;background:rgba(0,0,0,0.7);color:white;margin: 200px auto 0 auto;position:relative;border-radius:0;">Welcome to the PC Builder App</h2>
    </div>
</div>



<div ng-show="main.user" class="container-fluid">
  <div class="row">
    <h3>Welcome back {{main.user.username}}</h3>
  </div>

  <hr>
  <h3>Your machines</h3>
  <div class="row">
    <div class="col-xs-6 col-sm-4" ng-repeat="rig in main.user.rigs">
      <p>{{rig.description}}</p>
      <br>
      <a ui-sref="rigsShow({id: rig.id})">View</a>
      <a ui-sref="rigsEdit({id: rig.id})">Edit</a>
    </div>
  </div>
</div>
