<h1>Homepage</h1>

<div ng-hide="main.user" class="row">
  <div class="">
    <h4>Please <a ui-sref="login">log in</a></h4>
  </div>
</div>

<hr>

<div ng-show="main.user" class="container-fluid">
  <div class="row">
    <h3>Welcome back {{main.user.username}}</h3>
  </div>

  <hr>
  <h3>Your machines</h3>
  <div class="row">
    <div class="col-xs-6 col-sm-4" ng-repeat="rig in main.user.rigs">
      <p>{{rig.description}}</p>
      <br>
      <a ui-sref="rigsShow({id: rig.id})">View</a>
      <a ui-sref="rigsEdit({id: rig.id})">Edit</a>
    </div>
  </div>
</div>
