<h1>Rigs Edit</h1>

<div ng-hide="main.user" class="row">
  <h3>Please log in</h3>
</div>


Description : {{rigs.rig.description}}
<br>
<hr>
<p ng-repeat="part in rigs.rig.parts">{{part.name}}, {{part.parttypes[0]}}</p>
<br>
<hr>
<!-- {{rigs.wholeParts}} -->

<!-- <form ng-submit="rigs.updateRig()">

  <div class="form-group" ng-repeat="type in rigs.types track by $index">
    <label>{{type.description}}</label>
    <select class="form-control" ng-model="rigs.updated.parts[$index]">
      <option ng-repeat="part in type.parts" value="{{part.id}}">{{part.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Description</label>
    <input class="form-control" type="text" name="description" ng-model="rigs.rig.description">
  </div>
  <input type="submit" value="Submit">
</form> -->



 <hr><br><hr>



<!-- <form ng-submit="rigs.updateRig()">

  <div class="form-group">
    <label>{{rigs.types[0].description}}</label>
    <select class="form-control" ng-model="rigs.updated.parts[$index]">
      <option ng-repeat="part in rigs.types[0].parts" value="{{part.id}}">{{part.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>{{rigs.types[1].description}}</label>
    <select class="form-control" ng-model="rigs.updated.parts[$index]">
      <option ng-repeat="part in rigs.types[1].parts" value="{{part.id}}">{{part.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>{{rigs.types[2].description}}</label>
    <select class="form-control" ng-model="rigs.updated.parts[$index]">
      <option ng-repeat="part in rigs.types[2].parts" value="{{part.id}}">{{part.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>{{rigs.types[3].description}}</label>
    <select class="form-control" ng-model="rigs.updated.parts[$index]">
      <option ng-repeat="part in rigs.types[3].parts" value="{{part.id}}">{{part.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>{{rigs.types[4].description}}</label>
    <select class="form-control" ng-model="rigs.updated.parts[$index]">
      <option ng-repeat="part in rigs.types[4].parts" value="{{part.id}}">{{part.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>{{rigs.types[5].description}}</label>
    <select class="form-control" ng-model="rigs.updated.parts[$index]">
      <option ng-repeat="part in rigs.types[5].parts" value="{{part.id}}">{{part.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Description</label>
    <input class="form-control" type="text" name="description" ng-model="rigs.rig.description">
  </div>
  <input type="submit" value="Submit">
</form> -->

<hr>

{{rigs.newRig}}
{{rigs.rigPartsByType}}

<form ng-submit="rigs.updateRig()">

  <div
    class="form-group"
    ng-repeat="type in rigs.types track by $index">

    <label>{{type.description}}</label>
    <select
      class="form-control"
      ng-model="rigs.newRig[type.parttype]">

      <option
        selected
        value="rigs.filterRigPartsByCategory(type.parttype).id">
        current - {{rigs.filterRigPartsByCategory(type.parttype).name}}
      </option>

      <option
        ng-repeat="part in rigs.getPartsInCategory(rigs.filterRigPartsByCategory(type.parttype))"
        value="{{part.id}}">
        {{part.name}}
      </option>

    </select>
  </div>

  <div class="form-group">
    <label>Description</label>
    <input
      class="form-control"
      type="text"
      name="description"
      ng-model="rigs.rig.description">

  </div>
  <input type="submit" value="Submit">

</form>
