<div class="row text-centered">
  <h1>{{rigs.rig.description}}</h1>
  <h4>Posted by: <a ui-sref="usersShow({id: rigs.rig.user.id})">{{rigs.rig.user.username}}</a></h4>
</div>

<uib-tabset>

  <uib-tab heading="Overview">
    <h1 class="md-display-2">Overview</h1>
    <div class="row">
      <partcards partlist="rigs.rig.parts"></partcards>
    </div>
  </uib-tab>

  <uib-tab heading="{{part.parttypes[0].parttype}}" ng-repeat="part in rigs.rig.parts track by $index">
    <parttab part="part" showlinks="true"></parttab>
  </uib-tab>

</uib-tabset>
