<h1>Rigs Show</h1>


<div class="row">
  <h4>{{rigs.rig.description}}</h4>
  <p>Posted by: {{rigs.rig.user.username}}</p>
</div>

<div class="row centered">
  <h3>Parts</h3>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="part in rigs.rig.parts">
    <ul>
      <li><strong>{{part.name}}</strong></li>
      <li>{{part.description}}</li>
      <li>£ {{part.price}}.00</li>
      <li>{{part.spec}}</li>
      <li><a ui-sref="partsShow({id: part.id})">View</a></li>
    </ul>
  </div>
</div>
