<h1>All builds</h1>

<div class="row">
  <!-- <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="rig in rigs.rigs">
    <div class="panel panel-default" style="padding: 0;margin: 10px;">
      <div class="panel-body">
        <h4>{{rig.description}}</h4>
        <p>Saved by {{rig.user.username}}</p>
      </div>

      <br>
      <div class="panel-footer">
        <button class="btn btn-default" ui-sref="rigsShow({id: rig.id})">View</button>
      </div>
    </div>


  </div> -->
  <rigcards rigslist="rigs.rigs"></rigcards>
</div>
