<h1>Rigs New</h1>

<form name="rigs.rigForm" ng-submit="rigs.submitParts()">

  <div class="form-group" ng-repeat="type in rigs.types track by $index">

    <label>{{type.description}}</label>
    <select ng-options="part.id as part.name for part in type.parts" ng-model="rigs.partIds[$index]" ng-change="rigs.checkValidation(rigs.partIds[$index])">
      <option value="">Select one</option>
    </select>

    <div class="ng-message-error" ng-messages="rigs.rigForm.$error" ng-show="rigs.errors[type.parttype]">
      <!-- {{rigs.errors[type.parttype]}} -->
      <p ng-repeat="error in rigs.errors[type.parttype]">{{error}}</p>
    </div>

  </div>

  <div class="form-group">
    <label>Description</label>
    <input class="form-control" type="text" name="description" ng-model="rigs.description">
  </div>
  <input type="submit" value="Submit">

</form>
